<h1>Patron: <%= @patron.name %></h1>

<div class='row'>
  <div class='col-md-6'>
    <table class='table'>
      <tr>
        <td>Age:</td>
        <td><%= @patron.age %></td>
      </tr>
      <tr>
        <td>Phone Number:</td>
        <td><%= @patron.phone_number %></td>
      </tr>
      <tr>
        <td>Address:</td>
        <td><%= @patron.address_street %><br /><%= @patron.address_city %>, IL <%= @patron.address_zipcode %></td>
      </tr>
      <tr>
        <td colspan=2><%= link_to "Edit", edit_patron_path(@patron) %></td>
      </tr>
    </table>
  </div>
</div>
