<div class='row'>
  <div class='col-md-6'>
    <div class='panel panel-info'>
      <div class='panel-body'>
        <%= form_for @program do |f| %>
          <%= render :partial => 'shared/errors', :locals => {:object => @program} %>
          <div class='form-group'>
            <%= f.label :name %>
            <%= f.text_field :name, :class => 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.label :maximum_participants  %>
            <%= f.number_field :maximum_participants, :class => 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.label :minimum_age %>
            <%= f.number_field :minimum_age, :class => 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.label :maximum_age %>
            <%= f.number_field :maximum_age, :class => 'form-control' %>
          </div>
          <%= f.submit "Save", :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
