<h1>Edit Program</h1>

<%= simple_form_for @program do |f| %>
  <%= f.input :name %>
  <%= f.input :capacity %>
  <%= f.input :minimum_age, :label => "Minimum Age" %>
  <%= f.input :maximum_age, :label => "Maximum Age" %>

  <%= f.submit "Save" %>
<% end %>
